.iit-dropdown {
    height: 400px;
    overflow-y: scroll;
}

.iit-dropdown li {
    display: block;
}

.iit-dropdown li a {
    text-decoration: none;
    color: black;
}

.required {
    color: maroon;
}

.required label:after {
    content: "*"
}

footer {
    position: fixed;
    bottom: 0pt;
    width: 100%;
}

.iit-choice-button {
    width: 100pt;
    height: 100pt;
    padding: 2pt;
    margin: 0;
}

.iit-choice-button a {
    width: 100pt
}

.iit-choices-container {
    margin: 20pt;
}

iit-controller-row  {
    margin: 5pt;
}