.iit-dropdown {
    height: 400px;
    overflow-y: scroll;
}

.iit-dropdown li {
    display: block;
}

.iit-dropdown li a {
    text-decoration: none;
    color: black;
}

.required {
    color: maroon;
}

.required label:after {
    content: "*"
}